

@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:normal;
	src:url('/assets/fonts/NotoSansKR-Black.woff') format("woff");
	src:url('/assets/fonts/NotoSansKR-Black.woff') format("truetype");
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:normal;
	src:url('/assets/fonts/NotoSansKR-Bold.woff') format("woff");
	src:url('/assets/fonts/NotoSansKR-Bold.ttf') format("truetype");
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:normal;
	src:url('/assets/fonts/NotoSansKR-Light.woff') format("woff");
	src:url('/assets/fonts/NotoSansKR-Light.ttf') format("truetype");
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:normal;
	src:url('/assets/fonts/NotoSansKR-Medium.woff') format("woff");
	src:url('/assets/fonts/NotoSansKR-Medium.ttf') format("truetype");
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:normal;
	src:url('/assets/fonts/NotoSansKR-Regular.woff') format("woff");
	src:url('/assets/fonts/NotoSansKR-Regular.ttf') format("truetype");
}
